body {
  font-family: 'Press Start 2P', cursive;
}

header {
    margin-top: 60px;
    text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  color: #fff;
  border: none;
}

div {
    width: 1000px;
    height: 1000px;
    margin-right: auto;
    margin-left: auto;
}

div div {
    width: 1%;
    height: 1%;
    outline: 1px solid #fff;
    float: left;
    background: lightgrey;
    border-radius: 50%;
}

.white {
  background: #fff;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.yellow {
  background: yellow;
}

.black {
    background: black;
}

.pallette-white {
  background: white;
  height: 2%;
  width: 1%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.pallette-black {
  background: black;
  color: white;
  height: 2%;
  width: 1%;
  padding: 10px;
  border-radius: 5px;
}

.pallette-red {
  background: red;
  height: 2%;
  width: 1%;
  padding: 10px;
  border-radius: 5px;
}

.pallette-green {
  background: green;
  height: 2%;
  width: 1%;
  padding: 10px;
  border-radius: 5px;
}

.pallette-yellow {
  background: yellow;
  height: 2%;
  width: 1%;
  padding: 10px;
  border-radius: 5px;
}

.pallette-blue {
  background: blue;
  height: 2%;
  width: 1%;
  padding: 10px;
  border-radius: 5px;
}

.pallette-black {
  background: black;
  color: white;
  height: 2%;
  width: 1%;
  padding: 10px;
  border-radius: 5px;
}

#grid {
    padding-top: 30px;
}